.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 15px;
  margin-left: 10px;
}

.isonline {
  background-color: rgb(1, 188, 1);
}

.isofline {
  background-color: red;
}

.avatar {
  margin-right: 5px;
}
