.transactionhistory {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Sans-Serif;
  font-size: 12px;
  border-collapse: collapse;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  text-align: start;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

th,
td:first-child {
  background: #afcde7;
  color: white;
  padding: 10px 20px;
}

th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}

td {
  background: #d8e6f3;
}

th:first-child,
td:first-child {
  text-align: left;
}
